main.Header{
    width: 100%;
    height: 100vh;
    background-image: url(../../images/person.png);
    background-position: right;
    background-size: 60%;
    background-repeat: no-repeat;
    background-color: #eee;
    /* position: relative; */
    font-family: 'Roboto', sans-serif;
    animation: 1.5s image;
     
}
.Header::-webkit-scrollbar{
    display: none;
}

@keyframes image {
    from{background-size: 65%;}
    to{background-size: 60%;}
}

.navlink{
    text-decoration: none;
    color: black;
    font-size: 150px;
    font-weight: 700;
    display: flex;
    transition: all .3s ease-in-out;
    position: absolute;

    animation: 1s animation;
   
}
.navlink:nth-child(1){
    
}
.navlink:nth-child(2){
    color: red;
}
.navlink:nth-child(3){
    color: red;
}
.navlink:hover{
    margin-left: 30px;
}

.navlink.l1{
    animation-delay: .2s;
    
    top: 20%;
    left: 14%;
}

.navlink.l2{
    animation-delay: .5s;
     
    top: 40%;
    left: 14%;
}

.navlink.l3{
     
animation-delay: .7s;
    top: 62%;
    left: 14%;
}

@keyframes animation{
    from{
        margin-top: 50px;
        opacity: 0;
    }
    to{
        margin-top:0px;
        opacity: 1;
    }
}

@media screen and (max-width: 1024px){
    .navlink{
        font-size: 110px;
        font-weight: 700;
    }
    .navlink.l1{
        top: 32%;
        left: 12%;
    }
    .navlink.l2{
        top: 45%;
        left: 12%;
    }
    .navlink.l3{
        top: 60%;
        left: 12%;
    }
}
@media screen and (max-width: 954px){
    main.Header{
        background-position: top;
        background-size: 70%;
        background-repeat: no-repeat;
    }
    .navlink.l1{
        top: 50%;
        left: 30%;
    }
    .navlink.l2{
        top: 63%;
        left: 30%;
    }
    .navlink.l3{
        top: 76%;
        left: 30%;
    }
}
@media screen and (max-width: 768px){
    main.Header{
        background-size: 70%;
    }
    .navlink.l1{
        top: 47%;
        left: 25%;
    }
    .navlink.l2{
        top: 60%;
        left: 25%;
    }
    .navlink.l3{
        top: 73%;
        left: 25%;
    }
}
@media screen and (max-width: 550px){
    main.Header{
        background-size: 80%;
    }
    .navlink{
        font-size: 90px;
    }
    .navlink.l1{
        top: 50%;
        left: 13%;
    }
    .navlink.l2{
        top: 63%;
        left: 13%;
    }
    .navlink.l3{
        top: 76%;
        left: 13%;
    }
}
@media screen and (max-width: 460px){
    main.Header{
        background-size: 90%;
    }
    .navlink{
        font-size: 80px;
    }
    .navlink.l1{
        top: 48%;
        left: 10%;
    }
    .navlink.l2{
        top: 60%;
        left: 10%;
    }
    .navlink.l3{
        top: 72%;
        left: 10%;
    }
}
@media screen and (max-width: 400px){
    .navlink{
        font-size: 65px;
    }
    .navlink.l1{
        top: 42%;
        left: 10%;
    }
    .navlink.l2{
        top: 52%;
        left: 10%;
    }
    .navlink.l3{
        top: 62%;
        left: 10%;
    }
}