.Banner{
    color: white;
    max-width: 80vw;
    margin: auto;
}

.Banner h1{
    font-size: 110px;
    font-family: 'Roboto', sans-serif;
    margin: 40px 50px 0 0;
    height: 55vh;
    animation: .8s BannerAnimation;
}


@keyframes BannerAnimation{
    from{
        margin-top: 120px;
        opacity: 0;
    }
    to{
        margin-top:40px;
        opacity: 1;
    }
}

@media screen and (max-width: 954px){
    .Banner h1{
        font-size: 70px;
        height: 25vh;
    }
}

@media screen and (max-width: 500px){
    .Banner h1{
        font-size: 40px;
        height: 10vh;
    }
}
@media screen and (max-width: 387px){
    .Banner h1{
        font-size: 28px;
        height: 5vh;
    }
}
